In [15]:
import pandas as pd

In [2]:
import numpy as np

In [16]:
adj_noun_df = pd.read_csv('../data/islamabad_adj_noun_phrases.csv')
noun_df = pd.read_csv('../data/islamabad_noun_phrases.csv')

In [17]:
noun_df.head()

,noun_phrase,sentence,source
0,EN English FA Farsi AR Arabic Travel Guide,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
1,Places,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
2,Islamabad,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
3,Things,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
4,Nov,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...

In [18]:
noun_df.shape

(2308, 3)

In [19]:
noun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2308 entries, 0 to 2307
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   noun_phrase  2308 non-null   object
 1   sentence     2308 non-null   object
 2   source       2308 non-null   object
dtypes: object(3)
memory usage: 54.2+ KB

In [20]:
adj_noun_df.shape

(1370, 3)

In [21]:
adj_noun_df.columns

Index(['adj_noun_phrase', 'sentence', 'source'], dtype='object')

In [24]:
noun_df.drop_duplicates(inplace=True)
adj_noun_df.drop_duplicates(inplace=True)

In [26]:
noun_df.head()

,noun_phrase,sentence,source
0,EN English FA Farsi AR Arabic Travel Guide,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
1,Places,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
2,Islamabad,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
3,Things,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
4,Nov,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...

In [27]:
adj_noun_df.head()

,adj_noun_phrase,sentence,source
0,the northern part,Some people might want to skip the city and ju...,https://travelwithmansoureh.com/blog/travel-gu...
1,northern part,Some people might want to skip the city and ju...,https://travelwithmansoureh.com/blog/travel-gu...
3,other parts,Some people might want to skip the city and ju...,https://travelwithmansoureh.com/blog/travel-gu...
5,any other capital,Islamabad is not just like any other capital c...,https://travelwithmansoureh.com/blog/travel-gu...
6,other capital,Islamabad is not just like any other capital c...,https://travelwithmansoureh.com/blog/travel-gu...

In [28]:
noun_df.drop_duplicates()

,noun_phrase,sentence,source
0,EN English FA Farsi AR Arabic Travel Guide,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
1,Places,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
2,Islamabad,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
3,Things,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
4,Nov,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
...,...,...,...
2303,Kashmir © Ahsan,"The stunning Neelum Valley, Azad Kashmir © Ahs...",https://www.pakistantravelblog.com/top-6-touri...
2304,Arshad Awan Twitter Facebook LinkedIn Pinteres...,"The stunning Neelum Valley, Azad Kashmir © Ahs...",https://www.pakistantravelblog.com/top-6-touri...
2305,StumbleUpon,"The stunning Neelum Valley, Azad Kashmir © Ahs...",https://www.pakistantravelblog.com/top-6-touri...
2306,Delicious Yahoo Mail Gmail Newsvine Digg Frien...,Delicious Yahoo Mail Gmail Newsvine Digg Frien...,https://www.pakistantravelblog.com/top-6-touri...
2307,Pinterest,Delicious Yahoo Mail Gmail Newsvine Digg Frien...,https://www.pakistantravelblog.com/top-6-touri...

In [29]:
noun_df.columns

Index(['noun_phrase', 'sentence', 'source'], dtype='object')

In [30]:
noun_df.drop_duplicates(subset=['sentence'])

,noun_phrase,sentence,source
0,EN English FA Farsi AR Arabic Travel Guide,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
10,Some people,Some people might want to skip the city and ju...,https://travelwithmansoureh.com/blog/travel-gu...
18,what,I already wrote about what you need to know be...,https://travelwithmansoureh.com/blog/travel-gu...
23,this reason,"For this reason, in this article, I will mainl...",https://travelwithmansoureh.com/blog/travel-gu...
26,Islamabad,Islamabad is not just like any other capital c...,https://travelwithmansoureh.com/blog/travel-gu...
...,...,...,...
2285,Neelum Valley,Where to stay: Neelum Valley has plenty of vil...,https://www.pakistantravelblog.com/top-6-touri...
2291,Keran Guest House,Keran Guest House is the best option to stay i...,https://www.pakistantravelblog.com/top-6-touri...
2296,the Kutton Jagran Resort,"Alternatively, the Kutton Jagran Resort has Fr...",https://www.pakistantravelblog.com/top-6-touri...
2301,The stunning Neelum Valley,"The stunning Neelum Valley, Azad Kashmir © Ahs...",https://www.pakistantravelblog.com/top-6-touri...
2306,Delicious Yahoo Mail Gmail Newsvine Digg Frien...,Delicious Yahoo Mail Gmail Newsvine Digg Frien...,https://www.pakistantravelblog.com/top-6-touri...

In [31]:
noun_df.shape

(1855, 3)

In [32]:
noun_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1855 entries, 0 to 2307
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   noun_phrase  1855 non-null   object
 1   sentence     1855 non-null   object
 2   source       1855 non-null   object
dtypes: object(3)
memory usage: 58.0+ KB

In [35]:
duplicates = noun_df[noun_df.duplicated()]
print(f"Number of duplicate rows: {len(duplicates)}")
print(duplicates)

Number of duplicate rows: 0
Empty DataFrame
Columns: [noun_phrase, sentence, source]
Index: []

In [36]:
adj_duplicates = adj_noun_df[adj_noun_df.duplicated()]
print(f"Number of duplicate rows in adjective-noun phrases: {len(adj_duplicates)}")
print(adj_duplicates)

Number of duplicate rows in adjective-noun phrases: 0
Empty DataFrame
Columns: [adj_noun_phrase, sentence, source]
Index: []

In [38]:
print("=== Adjective-Noun Phrases DataFrame ===")
print(f"Shape: {adj_noun_df.shape}")
print(f"Columns: {list(adj_noun_df.columns)}")
print("\nFirst 5 rows:")
print(adj_noun_df.head())
print("\nData types:")
print(adj_noun_df.dtypes)
print("\n" + "="*50)

=== Adjective-Noun Phrases DataFrame ===
Shape: (659, 3)
Columns: ['adj_noun_phrase', 'sentence', 'source']

First 5 rows:
     adj_noun_phrase                                           sentence  \
0  the northern part  Some people might want to skip the city and ju...
1      northern part  Some people might want to skip the city and ju...
3        other parts  Some people might want to skip the city and ju...
5  any other capital  Islamabad is not just like any other capital c...
6      other capital  Islamabad is not just like any other capital c...

                                              source
0  https://travelwithmansoureh.com/blog/travel-gu...
1  https://travelwithmansoureh.com/blog/travel-gu...
3  https://travelwithmansoureh.com/blog/travel-gu...
5  https://travelwithmansoureh.com/blog/travel-gu...
6  https://travelwithmansoureh.com/blog/travel-gu...

Data types:
adj_noun_phrase    object
sentence           object
source             object
dtype: object

==================================================

In [39]:
print("=== Noun Phrases DataFrame ===")
print(f"Shape: {noun_df.shape}")
print(f"Columns: {list(noun_df.columns)}")
print("\nFirst 5 rows:")
print(noun_df.head())
print("\nData types:")
print(noun_df.dtypes)

=== Noun Phrases DataFrame ===
Shape: (1855, 3)
Columns: ['noun_phrase', 'sentence', 'source']

First 5 rows:
                                  noun_phrase  \
0  EN English FA Farsi AR Arabic Travel Guide
1                                      Places
2                                   Islamabad
3                                      Things
4                                         Nov

                                            sentence  \
0  EN English FA Farsi AR Arabic Travel Guide: Pl...
1  EN English FA Farsi AR Arabic Travel Guide: Pl...
2  EN English FA Farsi AR Arabic Travel Guide: Pl...
3  EN English FA Farsi AR Arabic Travel Guide: Pl...
4  EN English FA Farsi AR Arabic Travel Guide: Pl...

                                              source
0  https://travelwithmansoureh.com/blog/travel-gu...
1  https://travelwithmansoureh.com/blog/travel-gu...
2  https://travelwithmansoureh.com/blog/travel-gu...
3  https://travelwithmansoureh.com/blog/travel-gu...
4  https://travelwithmansoureh.com/blog/travel-gu...

Data types:
noun_phrase    object
sentence       object
source         object
dtype: object