In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
adj_noun_df = pd.read_csv('../data/islamabad_adj_noun_phrases.csv')
noun_df = pd.read_csv('../data/islamabad_noun_phrases.csv')

In [6]:
noun_df.head()

,noun_phrase,sentence,source
0,EN English FA Farsi AR Arabic Travel Guide,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
1,Places,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
2,Islamabad,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
3,Things,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...
4,Nov,EN English FA Farsi AR Arabic Travel Guide: Pl...,https://travelwithmansoureh.com/blog/travel-gu...

In [8]:
noun_df.shape

(2308, 3)

In [9]:
noun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2308 entries, 0 to 2307
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   noun_phrase  2308 non-null   object
 1   sentence     2308 non-null   object
 2   source       2308 non-null   object
dtypes: object(3)
memory usage: 54.2+ KB

In [10]:
adj_noun_df.shape

(1370, 3)

In [13]:
adj_noun_df.columns

Index(['adj_noun_phrase', 'sentence', 'source'], dtype='object')

In [ ]:
noun_df.drop_duplicate(inplace=True)
adj_noun_df.describe(inplace=True)