In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/islamabad_osm_data.csv')

In [7]:
print("Original dataset shape:", df.shape)

Original dataset shape: (22950, 17)

In [8]:
# Define Islamabad bounding box coordinates
# Format: min_lat, min_lon, max_lat, max_lon
min_lat, min_lon, max_lat, max_lon = 33.4734, 72.8397, 33.7480, 73.2047

In [9]:
# Filter data within Islamabad bounding box
islamabad_filter = (
    (df['latitude'] >= min_lat) & 
    (df['latitude'] <= max_lat) & 
    (df['longitude'] >= min_lon) & 
    (df['longitude'] <= max_lon)
)
df_cleaned = df[islamabad_filter].copy()

In [10]:
print(f"After coordinate filtering: {df_cleaned.shape}")
print(f"Removed {df.shape[0] - df_cleaned.shape[0]} rows ({((df.shape[0] - df_cleaned.shape[0])/df.shape[0]*100):.1f}%)")

After coordinate filtering: (5240, 17)
Removed 17710 rows (77.2%)

In [11]:
# Data quality checks
print("\nMissing values in key columns:")
for col in ['description', 'osm_tag_key', 'osm_tag_value', 'latitude', 'longitude']:
    missing = df_cleaned[col].isnull().sum()
    print(f"{col}: {missing} ({missing/len(df_cleaned)*100:.1f}%)")

Missing values in key columns:
description: 0 (0.0%)
osm_tag_key: 0 (0.0%)
osm_tag_value: 0 (0.0%)
latitude: 0 (0.0%)
longitude: 0 (0.0%)

In [12]:
print(f"\nDuplicate rows: {df_cleaned.duplicated().sum()}")

Duplicate rows: 0

In [13]:
print("\nLanguage distribution:")
print(df_cleaned['language'].value_counts())

print("\nTop OSM tag keys:")
print(df_cleaned['osm_tag_key'].value_counts().head(10))

print("\nTop OSM tag values:")
print(df_cleaned['osm_tag_value'].value_counts().head(10))

Language distribution:
language
English    4679
Urdu        560
Mixed         1
Name: count, dtype: int64

Top OSM tag keys:
osm_tag_key
amenity    3246
shop       1086
tourism     559
leisure     349
Name: count, dtype: int64

Top OSM tag values:
osm_tag_value
place_of_worship    514
restaurant          464
bank                413
school              379
park                197
fuel                191
fast_food           140
supermarket         139
college             135
hospital            134
Name: count, dtype: int64

In [14]:
# Remove rows with missing critical information
df_final = df_cleaned.dropna(subset=['description', 'osm_tag_key', 'osm_tag_value', 'latitude', 'longitude']).copy()

print(f"\nFinal dataset shape: {df_final.shape}")

Final dataset shape: (5240, 17)

In [15]:
# Save cleaned data
df_final.to_excel('../data/osm_islamabad_cleaned.xlsx', index=False)
df_final.to_csv('../data/osm_islamabad_cleaned.csv', index=False)

print("\n✅ Cleaned datasets saved as 'osm_islamabad_cleaned.xlsx' and 'osm_islamabad_cleaned.csv' in the data directory.")

✅ Cleaned datasets saved as 'osm_islamabad_cleaned.xlsx' and 'osm_islamabad_cleaned.csv' in the data directory.

In [16]:
df =pd.read_csv('../data/osm_islamabad_cleaned.csv')

In [19]:
print("First 5 rows of the cleaned Islamabad data:")
print(df_cleaned.head())

First 5 rows of the cleaned Islamabad data:
     osm_id element_type   category                description  \
0  61146664         node  amenities   عسکری بینک (Askari Bank)
1  61146673         node  amenities    الائیڈ بینک لمیٹڈ (ABL)
2  61146691         node  amenities            United Bank Ltd
3  61146835         node  amenities  Total Parco , F-10 Markaz
4  98166308         node  amenities     Caltex Filling Station

                        name      name_en            name_ur language  \
0                 عسکری بینک  Askari Bank         عسکری بینک     Urdu
1          الائیڈ بینک لمیٹڈ          ABL  الائیڈ بینک لمیٹڈ     Urdu
2            United Bank Ltd          NaN                NaN  English
3  Total Parco , F-10 Markaz          NaN                NaN  English
4     Caltex Filling Station          NaN                NaN  English

    location osm_tag_key osm_tag_value source  \
0  Islamabad     amenity          bank    OSM
1  Islamabad     amenity          bank    OSM
2  Islamabad     amenity          bank    OSM
3  Islamabad     amenity          fuel    OSM
4  Islamabad     amenity          fuel    OSM

                                      coordinates   latitude  longitude  \
0  [Decimal('73.0112954'), Decimal('33.6980860')]  33.698086  73.011295
1  [Decimal('73.0105887'), Decimal('33.6976525')]  33.697652  73.010589
2  [Decimal('73.0118772'), Decimal('33.6960411')]  33.696041  73.011877
3  [Decimal('73.0112495'), Decimal('33.6988403')]  33.698840  73.011250
4  [Decimal('73.0944042'), Decimal('33.5846699')]  33.584670  73.094404

                                            all_tags  \
0  {'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...
1  {'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...
2  {'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...
3  {'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...
4  {'amenity': 'fuel', 'fuel:cng': 'yes', 'name':...

                 collected_at
0  2025-07-29T08:08:59.744749
1  2025-07-29T08:08:59.744749
2  2025-07-29T08:08:59.744749
3  2025-07-29T08:08:59.744749
4  2025-07-29T08:08:59.744749

In [20]:
# Display basic information about the DataFrame (columns, non-null counts, dtypes)
print("\nDataFrame Info:")
df_cleaned.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 5240 entries, 0 to 22916
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   osm_id         5240 non-null   int64
 1   element_type   5240 non-null   object
 2   category       5240 non-null   object
 3   description    5240 non-null   object
 4   name           5205 non-null   object
 5   name_en        853 non-null    object
 6   name_ur        546 non-null    object
 7   language       5240 non-null   object
 8   location       5240 non-null   object
 9   osm_tag_key    5240 non-null   object
 10  osm_tag_value  5240 non-null   object
 11  source         5240 non-null   object
 12  coordinates    5240 non-null   object
 13  latitude       5240 non-null   float64
 14  longitude      5240 non-null   float64
 15  all_tags       5240 non-null   object
 16  collected_at   5240 non-null   object
dtypes: float64(2), int64(1), object(14)
memory usage: 736.9+ KB

In [21]:
# Display descriptive statistics for numerical columns
print("\nDescriptive Statistics:")
print(df_cleaned.describe())

# You can also check specific columns if you have concerns
# For example, to check unique values in 'language'
print("\nUnique values in 'language' column:")
print(df_cleaned['language'].value_counts())

# Or to check unique values in 'osm_tag_key'
print("\nUnique values in 'osm_tag_key' column (top 10):")
print(df_cleaned['osm_tag_key'].value_counts().head(10))

Descriptive Statistics:
             osm_id     latitude    longitude
count  5.240000e+03  5240.000000  5240.000000
mean   4.275751e+09    33.648465    73.054246
std    3.227400e+09     0.056312     0.055212
min    8.058334e+06    33.474125    72.840721
25%    1.295250e+09    33.613044    73.018659
50%    4.880224e+09    33.652743    73.057927
75%    5.617898e+09    33.693306    73.082034
max    1.300255e+10    33.747926    73.204302

Unique values in 'language' column:
language
English    4679
Urdu        560
Mixed         1
Name: count, dtype: int64

Unique values in 'osm_tag_key' column (top 10):
osm_tag_key
amenity    3246
shop       1086
tourism     559
leisure     349
Name: count, dtype: int64

In [22]:
df.columns

Index(['osm_id', 'element_type', 'category', 'description', 'name', 'name_en',
       'name_ur', 'language', 'location', 'osm_tag_key', 'osm_tag_value',
       'source', 'coordinates', 'latitude', 'longitude', 'all_tags',
       'collected_at'],
      dtype='object')

In [23]:
df.describe()

             osm_id     latitude    longitude
count  5.240000e+03  5240.000000  5240.000000
mean   4.275751e+09    33.648465    73.054246
std    3.227400e+09     0.056312     0.055212
min    8.058334e+06    33.474125    72.840721
25%    1.295250e+09    33.613044    73.018659
50%    4.880224e+09    33.652743    73.057927
75%    5.617898e+09    33.693306    73.082034
max    1.300255e+10    33.747926    73.204302

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5240 entries, 0 to 5239
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   osm_id         5240 non-null   int64
 1   element_type   5240 non-null   object
 2   category       5240 non-null   object
 3   description    5240 non-null   object
 4   name           5205 non-null   object
 5   name_en        853 non-null    object
 6   name_ur        546 non-null    object
 7   language       5240 non-null   object
 8   location       5240 non-null   object
 9   osm_tag_key    5240 non-null   object
 10  osm_tag_value  5240 non-null   object
 11  source         5240 non-null   object
 12  coordinates    5240 non-null   object
 13  latitude       5240 non-null   float64
 14  longitude      5240 non-null   float64
 15  all_tags       5240 non-null   object
 16  collected_at   5240 non-null   object
dtypes: float64(2), int64(1), object(14)
memory usage: 696.1+ KB

In [25]:
df.head(50)

,osm_id,element_type,category,description,name,name_en,name_ur,language,location,osm_tag_key,osm_tag_value,source,coordinates,latitude,longitude,all_tags,collected_at
0,61146664,node,amenities,عسکری بینک (Askari Bank),عسکری بینک,Askari Bank,عسکری بینک,Urdu,Islamabad,amenity,bank,OSM,"[Decimal('73.0112954'), Decimal('33.6980860')]",33.698086,73.011295,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
1,61146673,node,amenities,الائیڈ بینک لمیٹڈ (ABL),الائیڈ بینک لمیٹڈ,ABL,الائیڈ بینک لمیٹڈ,Urdu,Islamabad,amenity,bank,OSM,"[Decimal('73.0105887'), Decimal('33.6976525')]",33.697652,73.010589,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
2,61146691,node,amenities,United Bank Ltd,United Bank Ltd,NaN,NaN,English,Islamabad,amenity,bank,OSM,"[Decimal('73.0118772'), Decimal('33.6960411')]",33.696041,73.011877,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
3,61146835,node,amenities,"Total Parco , F-10 Markaz","Total Parco , F-10 Markaz",NaN,NaN,English,Islamabad,amenity,fuel,OSM,"[Decimal('73.0112495'), Decimal('33.6988403')]",33.698840,73.011250,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
4,98166308,node,amenities,Caltex Filling Station,Caltex Filling Station,NaN,NaN,English,Islamabad,amenity,fuel,OSM,"[Decimal('73.0944042'), Decimal('33.5846699')]",33.584670,73.094404,"{'amenity': 'fuel', 'fuel:cng': 'yes', 'name':...",2025-07-29T08:08:59.744749
5,211325636,node,amenities,Daman-e-Koh,Daman-e-Koh,NaN,NaN,English,Islamabad,amenity,restaurant,OSM,"[Decimal('73.0570403'), Decimal('33.7383666')]",33.738367,73.057040,"{'addr:street': 'Damn-i-koh Road', 'amenity': ...",2025-07-29T08:08:59.744749
6,212538228,node,amenities,اسٹینڈرڈ چارٹرڈ (Standard Chartered),اسٹینڈرڈ چارٹرڈ,Standard Chartered,اسٹینڈرڈ چارٹرڈ,Urdu,Islamabad,amenity,bank,OSM,"[Decimal('72.9868260'), Decimal('33.6837660')]",33.683766,72.986826,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
7,225578480,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0389002'), Decimal('33.7100027')]",33.710003,73.038900,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
8,232641948,node,amenities,PSO Pump G-9 Markez (Pakistan State Oil) [پاکس...,PSO Pump G-9 Markez,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0337460'), Decimal('33.6893963')]",33.689396,73.033746,"{'amenity': 'fuel', 'brand': 'پاکستان اسٹیٹ آئ...",2025-07-29T08:08:59.744749
9,234511823,node,amenities,اسٹینڈرڈ چارٹرڈ (Standard Chartered),اسٹینڈرڈ چارٹرڈ,Standard Chartered,اسٹینڈرڈ چارٹرڈ,Urdu,Islamabad,amenity,bank,OSM,"[Decimal('73.0113365'), Decimal('33.6966838')]",33.696684,73.011336,"{'amenity': 'bank', 'atm': 'yes', 'brand': 'اس...",2025-07-29T08:08:59.744749
10,237459304,node,amenities,City Bank,City Bank,NaN,NaN,English,Islamabad,amenity,bank,OSM,"[Decimal('72.9887772'), Decimal('33.6849090')]",33.684909,72.988777,"{'amenity': 'bank', 'atm': 'yes', 'is_in': 'F-...",2025-07-29T08:08:59.744749
11,237492791,node,amenities,Saudi Pak Commercial Bank,Saudi Pak Commercial Bank,NaN,NaN,English,Islamabad,amenity,bank,OSM,"[Decimal('72.9868747'), Decimal('33.6838147')]",33.683815,72.986875,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
12,237495339,node,amenities,عسکری بینک (Askari Bank),عسکری بینک,Askari Bank,عسکری بینک,Urdu,Islamabad,amenity,bank,OSM,"[Decimal('72.9860121'), Decimal('33.6843984')]",33.684398,72.986012,"{'amenity': 'bank', 'atm': 'yes', 'brand': 'عس...",2025-07-29T08:08:59.744749
13,240218764,node,amenities,Ali Medical Centre,Ali Medical Centre,Ali Medical Centre,NaN,English,Islamabad,amenity,hospital,OSM,"[Decimal('73.0417644'), Decimal('33.7104738')]",33.710474,73.041764,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
14,243495585,node,amenities,Total Station,Total Station,NaN,NaN,English,Islamabad,amenity,fuel,OSM,"[Decimal('73.0402590'), Decimal('33.7132584')]",33.713258,73.040259,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
15,243531194,node,amenities,Safeway CNG,Safeway CNG,NaN,NaN,English,Islamabad,amenity,fuel,OSM,"[Decimal('73.0619384'), Decimal('33.5991725')]",33.599173,73.061938,"{'addr:city': 'راولپنڈی', 'addr:city:en': 'Raw...",2025-07-29T08:08:59.744749
16,244186616,node,amenities,Masjid Al Qasim,Masjid Al Qasim,NaN,NaN,English,Islamabad,amenity,place_of_worship,OSM,"[Decimal('73.0057153'), Decimal('33.6804943')]",33.680494,73.005715,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
17,244393698,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0501914'), Decimal('33.6985338')]",33.698534,73.050191,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.744749
18,245441172,node,amenities,ایف-8 چرچ (F-8 Church),ایف-8 چرچ,F-8 Church,ایف-8 چرچ,Urdu,Islamabad,amenity,place_of_worship,OSM,"[Decimal('73.0452355'), Decimal('33.7110561')]",33.711056,73.045236,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
19,246850955,node,amenities,Masjid Alfurqan,Masjid Alfurqan,NaN,NaN,English,Islamabad,amenity,place_of_worship,OSM,"[Decimal('73.0480234'), Decimal('33.7275661')]",33.727566,73.048023,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
20,247682428,node,amenities,Islamabad Model College for Girls F-6/2,Islamabad Model College for Girls F-6/2,NaN,NaN,English,Islamabad,amenity,school,OSM,"[Decimal('73.0728704'), Decimal('33.7302916')]",33.730292,73.072870,"{'amenity': 'school', 'is_in': 'F-6/2, Islamab...",2025-07-29T08:08:59.745750
21,248110276,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.1806038'), Decimal('33.5143362')]",33.514336,73.180604,"{'amenity': 'fuel', 'brand': 'پاکستان اسٹیٹ آئ...",2025-07-29T08:08:59.745750
22,248864319,node,amenities,FG Boys Model School,FG Boys Model School,NaN,NaN,English,Islamabad,amenity,school,OSM,"[Decimal('73.0202663'), Decimal('33.6848070')]",33.684807,73.020266,"{'amenity': 'school', 'is_in': 'G-10/3, Islama...",2025-07-29T08:08:59.745750
23,248933520,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0739329'), Decimal('33.5871342')]",33.587134,73.073933,"{'amenity': 'fuel', 'brand': 'پاکستان اسٹیٹ آئ...",2025-07-29T08:08:59.745750
24,248933542,node,amenities,Cinepax,Cinepax,NaN,NaN,English,Islamabad,amenity,cinema,OSM,"[Decimal('73.0732665'), Decimal('33.5856873')]",33.585687,73.073267,"{'addr:city': 'Rawalpindi, Punjab, Pakistan', ...",2025-07-29T08:08:59.745750
25,248936001,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.1053930'), Decimal('33.6432847')]",33.643285,73.105393,"{'amenity': 'fuel', 'brand': 'پاکستان اسٹیٹ آئ...",2025-07-29T08:08:59.745750
26,249166537,node,amenities,Shell Pump,Shell Pump,NaN,NaN,English,Islamabad,amenity,fuel,OSM,"[Decimal('73.1048122'), Decimal('33.7086323')]",33.708632,73.104812,"{'amenity': 'fuel', 'is_in': 'Islamabad', 'nam...",2025-07-29T08:08:59.745750
27,253018400,node,amenities,Poly Clinic Hospital,Poly Clinic Hospital,NaN,NaN,English,Islamabad,amenity,hospital,OSM,"[Decimal('73.0828053'), Decimal('33.7211006')]",33.721101,73.082805,"{'amenity': 'hospital', 'healthcare': 'hospita...",2025-07-29T08:08:59.745750
28,253124176,node,amenities,4 Star Travel Services,4 Star Travel Services,NaN,NaN,English,Islamabad,amenity,bus_station,OSM,"[Decimal('73.0344119'), Decimal('33.6884058')]",33.688406,73.034412,"{'amenity': 'bus_station', 'is_in': 'G-9 Marka...",2025-07-29T08:08:59.745750
29,253127769,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0783391'), Decimal('33.7282215')]",33.728221,73.078339,"{'amenity': 'fuel', 'brand': 'پاکستان اسٹیٹ آئ...",2025-07-29T08:08:59.745750
30,253127791,node,amenities,Total,Total,NaN,NaN,English,Islamabad,amenity,fuel,OSM,"[Decimal('73.0749401'), Decimal('33.7283287')]",33.728329,73.074940,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
31,254620873,node,amenities,پاکستان اسٹیٹ آئل (Pakistan State Oil),پاکستان اسٹیٹ آئل,Pakistan State Oil,پاکستان اسٹیٹ آئل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0734333'), Decimal('33.7196379')]",33.719638,73.073433,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
32,254624357,node,amenities,شیل (Shell),شیل,Shell,شیل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0785384'), Decimal('33.7315008')]",33.731501,73.078538,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
33,254665431,node,amenities,تھانہ کوہسار (Kohsar Police Station),تھانہ کوہسار,Kohsar Police Station,NaN,Urdu,Islamabad,amenity,police,OSM,"[Decimal('73.0603342'), Decimal('33.7220678')]",33.722068,73.060334,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
34,254667492,node,amenities,شیل (Shell),شیل,Shell,شیل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0545509'), Decimal('33.7204999')]",33.720500,73.054551,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
35,254668137,node,amenities,Pakistan Post Mall,Pakistan Post Mall,NaN,NaN,English,Islamabad,amenity,post_office,OSM,"[Decimal('73.0531190'), Decimal('33.7188341')]",33.718834,73.053119,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
36,254765936,node,amenities,Sir Syed Public School,Sir Syed Public School,NaN,NaN,English,Islamabad,amenity,school,OSM,"[Decimal('73.0771470'), Decimal('33.6051071')]",33.605107,73.077147,"{'amenity': 'school', 'created_by': 'Potlatch ...",2025-07-29T08:08:59.745750
37,254765978,node,amenities,Vaqar un Nisa Girls College,Vaqar un Nisa Girls College,NaN,NaN,English,Islamabad,amenity,college,OSM,"[Decimal('73.0758943'), Decimal('33.6037596')]",33.603760,73.075894,"{'amenity': 'college', 'name': 'Vaqar un Nisa ...",2025-07-29T08:08:59.745750
38,254766152,node,amenities,Rawalpindi Medical College,Rawalpindi Medical College,NaN,NaN,English,Islamabad,amenity,college,OSM,"[Decimal('73.0684378'), Decimal('33.6027230')]",33.602723,73.068438,"{'addr:street': 'Tipu Road', 'amenity': 'colle...",2025-07-29T08:08:59.745750
39,254766326,node,amenities,Gordon College,Gordon College,NaN,NaN,English,Islamabad,amenity,college,OSM,"[Decimal('73.0617318'), Decimal('33.6083525')]",33.608353,73.061732,"{'amenity': 'college', 'created_by': 'Potlatch...",2025-07-29T08:08:59.745750
40,254766721,node,amenities,Municipal Library,Municipal Library,NaN,NaN,English,Islamabad,amenity,library,OSM,"[Decimal('73.0651142'), Decimal('33.6054859')]",33.605486,73.065114,"{'amenity': 'library', 'name': 'Municipal Libr...",2025-07-29T08:08:59.745750
41,254767279,node,amenities,شیل (Shell),شیل,Shell,شیل,Urdu,Islamabad,amenity,fuel,OSM,"[Decimal('73.0616763'), Decimal('33.5989280')]",33.598928,73.061676,"{'addr:city': 'راولپنڈی', 'addr:city:en': 'Raw...",2025-07-29T08:08:59.745750
42,254890079,node,amenities,Al Sadiq Library Education Center,Al Sadiq Library Education Center,NaN,NaN,English,Islamabad,amenity,library,OSM,"[Decimal('73.0232911'), Decimal('33.6886034')]",33.688603,73.023291,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
43,254975704,node,amenities,The Hot Spot,The Hot Spot,NaN,NaN,English,Islamabad,amenity,cafe,OSM,"[Decimal('73.0576782'), Decimal('33.7259475')]",33.725947,73.057678,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
44,254975815,node,amenities,The Gelato Affair,The Gelato Affair,NaN,NaN,English,Islamabad,amenity,cafe,OSM,"[Decimal('73.0578027'), Decimal('33.7259527')]",33.725953,73.057803,"{'amenity': 'cafe', 'is_in': 'Gol Market, F-7/...",2025-07-29T08:08:59.745750
45,254975882,node,amenities,گلوریا جینز (Gloria Jean's),گلوریا جینز,Gloria Jean's,گلوریا جینز,Urdu,Islamabad,amenity,cafe,OSM,"[Decimal('73.0579400'), Decimal('33.7260597')]",33.726060,73.057940,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
46,254976251,node,amenities,Golden Dragon,Golden Dragon,NaN,NaN,English,Islamabad,amenity,restaurant,OSM,"[Decimal('73.0577749'), Decimal('33.7263387')]",33.726339,73.057775,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750
47,254979635,node,amenities,The Hot Spot Cafe,The Hot Spot Cafe,NaN,NaN,English,Islamabad,amenity,cafe,OSM,"[Decimal('73.0813998'), Decimal('33.7364262')]",33.736426,73.081400,"{'amenity': 'cafe', 'is_in': 'F-6/3, Islamabad...",2025-07-29T08:08:59.745750
48,254982061,node,amenities,NAFDEC Cinema,NAFDEC Cinema,NaN,NaN,English,Islamabad,amenity,cinema,OSM,"[Decimal('73.0743669'), Decimal('33.7203722')]",33.720372,73.074367,"{'amenity': 'cinema', 'is_in': 'Blue Area, Isl...",2025-07-29T08:08:59.745750
49,254985095,node,amenities,Muslim Commercial Bank,Muslim Commercial Bank,NaN,NaN,English,Islamabad,amenity,bank,OSM,"[Decimal('73.0858755'), Decimal('33.7251136')]",33.725114,73.085876,"{'addr:city': 'اسلام آباد', 'addr:city:ar': 'إ...",2025-07-29T08:08:59.745750